<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
<connectionStrings>
    <add name="emp" connectionString="Data Source=(LocalDB)\\AttachDbFilename='C:\\Users\\Rohit\\source\\repos\\Hotel Management System\\Hotel Management System\\App_Data\\RAvailibility.mdf';Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
